<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img src="../../../assets/images/images.jpg" height="50" width="50" class="imglogo"/></span>
    <span class="title">ML Shoppe</span>

   

    <!--<a mat-flat-button color="primary" routerLink="/login">Login</a>-->
   
    <span class="user">Welcome</span>
    <span class="example-spacer"></span>
    <a mat-flat-button color="primary" routerLink="/aboutus">About Us</a>
    <a mat-flat-button color="primary" routerLink="" [matMenuTriggerFor]="menu" (click)="showcart()">
      <img src="../../../assets/images/cart.jpg" height="20" width="20"/>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <table class="table table-responsive">
    <tr *ngFor="let a of cart">
      <td><img src="data:image/*;base64,{{a.pic}}" height="40" width="40"></td>
      <td>{{a.prnm}}</td>
      <td>{{a.price}}</td>
      <td>
        <button mat-fab (click)="deletecart(a)" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <hr>
  <h5>Total: {{tot}}</h5>

  <button type="button" mat-raised-button color="primary" aria-label="Order Now" (click)="orderitems()">Order Now</button>
</mat-menu>
