<div class="container">
  <mat-card>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <mat-card-title >Register</mat-card-title><br><br>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username : </mat-label>
          <input matInput formControlName="username" type="text" name="username" required><br><br>
          <mat-error *ngIf="registerForm.get('username').invalid">Please enter a valid Username</mat-error><br><br>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Password : </mat-label>
          <input matInput formControlName="password" type="password" name="password" required><br><br>
          <mat-error *ngIf="registerForm.get('password').invalid">Password must be at least 6 characters</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Role : </mat-label>
          <select formControlName="role" name="role" required>           
              <option value="admin">Administrator</option>
              <option value="customer">Customer</option>            
         </select>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
        <a mat-flat-button color="primary"  routerLink="/login">Login</a>
       
      </form>
    </mat-card-content>
  </mat-card>
</div>